<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post">
      {% csrf_token %}
      <div>
          <label for="username">Username: </label>
          <input id="username" type="text" name="username_mod" value={{ username_login }}>
      </div>

      <div>
          <label for="password">Password: </label>
          <input id="password" type="password" name="password_mod" value={{ pass_login }}>
      </div>

      <input type="submit" value="Log In">

    </form>
</body>
</html>